/* src/Profile.css */
.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black
}
